<div class="container content simple-page">
<h1>Editing Phone Order</h1>

<%= render 'form', phone_order: @phone_order %>

<%= link_to 'Show', @phone_order %> |
<%= link_to 'Back', phone_orders_path %>
</div>