<div class="container content simple-page">
  <h1>Спасибо!</h1>
  <div class="alert alert-info" role="alert"><%= notice %></div>

  <div class="alert alert-success" role="alert">
   Уважаемый(ая), <%= @phone_order.name %>.<br>
   В течении 10-20 минут с Вами свяжется наш менеджер<br>
   по указаному номеру <strong><%= @phone_order.phone %></strong>
</div>
<div class="text-center"><a href="/">Вернуться</a></div>

</div>