# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ccf1557b55d5b5bd2450d51f6871f867885c753e400e391c4b6b2de86074b4b3d92c9eb9c9d3c1fbfcc9fc55590598434fc978a314596c07e57b71df6c36849b

test:
  secret_key_base: 1e207c4d8b8d9791de693bbf1faf18e411dfa38489fe13ebe30173ff3c28eaab1090bc4d52cd784ed88618df31f4f07612a8643879e30dd3fc5c00723c8d7a92

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
