<div class="container content simple-page about">
  <h1>О компании</h1>
<p>Мы новая быстро развивающая компания. Наша миссия популиризация уникальных
  экологически чистых продуктов питания и пищевых добавок произведеных в России.</p>
  <p>
    <b>Реквизиты компании ООО «Маркет-Трейд» :</b>
</p>
  <table>
    <tr>
      <td>Юридический адрес:</td>
      <td>659322, Алтайский край г.Бийск ул. Декабристов д. 33 кв. 25</td>
    </tr>
    <tr>
      <td>Фактический адрес:</td>
      <td>659322, Алтайский край г.Бийск ул. Декабристов д. 33 кв. 25</td>
    </tr>
    <tr>
      <td>№ ОГРН:</td>
      <td>1162225053935</td>
    </tr>
    <tr>
      <td>ИНН:</td>
      <td>2204078601</td>
    </tr>
    <tr>
      <td>КПП:</td>
      <td>220401001</td>
    </tr>
    <tr>
      <td>Банк:</td>
      <td>АЛТАЙСКОЕ ОТДЕЛЕНИЕ №8644 ПАО СБЕРБАНК г.Барнаул</td>
    </tr>
    <tr>
      <td>Расчетный счет:</td>
      <td>40702810902000011094</td>
    </tr>
    <tr>
      <td>Корреспондентский счет:</td>
      <td>30101810200000000604</td>
    </tr>
    <tr>
      <td>БИК:</td>
      <td>040173604</td>
    </tr>
  </table>
</div>



















