<div class="container content simple-page delivery">
<h1>Доставка</h1>
<ul class="list-group list-content">
	<li>Доставка осуществляется по все России</li>
  <li>Срок доставки в среднем от 3-6 дней, подробнее Вы можете узнать при офомлении заказа у нашего менеджера</li>
  <li>Наша компания осуществляет доставку посредством: Почта России, DPD, Деловые линии.</li>
</ul>
  <div class="delivery-logo">
    <a href="http://russianpost.ru" target="_blank"><img src="/images/delivery/russian_post_logo@2x.png" width="173"></a>
    <a href="http://dpd.ru" target="_blank"><img src="/images/delivery/dpd.svg"></a>
    <a href="http://www.dellin.ru/" target="_blank"><img src="/images/delivery/dl.svg"></a>
  </div>
  <h1>Возврат</h1>
  <p>Согласно ст. 18 Закона РФ от 07.02.1992 N 2300-I "О защите прав потребителей" (далее - Закона N 2300-I) потребитель, при обнаружении ненадлежащего качества проданного ему товара (в том числе и продовольственного), вправе отказаться от исполнения договора и потребовать возврата уплаченной за товар суммы.</p>
  <p>Таким образом, покупатель может вернуть продовольственный товар ненадлежащего качества. Что касается возврата продовольственного товара надлежащего качества, то в этом случае необходимо учитывать, что п. 1 ст. 25 Закона N 2300-I предусматривает право потребителя только на возврат (либо обмен) непродовольственного товара надлежащего качества.</p>
  <p>Это означает, что возврат продовольственного товара надлежащего качества действующим законодательством не предусмотрен (смотрите также Разъяснение Ассоциации потребителей Пензенской области от 14.11.2008).</p>
  <p>Статьей 503 ГК РФ установлено, что в случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, товары бытовой химии и тому подобное), покупатель по своему выбору вправе потребовать замены такого товара товаром надлежащего качества или соразмерного уменьшения покупной цены. Вместо предъявления этих требований покупатель вправе отказаться от исполнения договора розничной купли-продажи и потребовать возврата уплаченной за товар суммы.</p>
</div>
<%= render "layouts/modal_phone_order" %>
