<div class="main-screen">
<div class="container-fluid">
  <div class="container">
    <div class="col-lg-4 col-md-4 col-sm-5 best-dealer">
      Официальнный представитель в России<br>
      одних из лучших пантовых продуктов в мире
      <div class="bottel">
        <div class="stimul fadeInLeft animated">
          <div class="title">Стимулятор</div>
          <div class="description">нового поколения</div>
        </div>
        <div class="eco fadeInLeft animated">
          <img src="/images/eco-energy.svg">
        </div>
        <div class="acid fadeInLeft animated">
          <img src="/images/aminoacid.svg">
        </div>
      </div>
    </div>
    <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-7 best-dealer product-cart">
      <div class="quality col-lg-6 col-md-6 col-sm-6 col-xs-6">
        Оценка качества:
        <div class="star">
          <img src="/images/Star.svg">
          <img src="/images/Star.svg">
          <img src="/images/Star.svg">
          <img src="/images/Star.svg">
          <img src="/images/Star.svg">
        </div>
      </div>
      <div class="col-lg-6"><img src="/images/deer-shape.svg"></div>
      <div class="col-lg-12">
        <div class="sport">РАЗРЕШЕН СПОРТСМЕНАМ</div>
      </div>
      <div class="col-lg-12 main-title"><h1>Пантогематоген</h1></div>
      <div class="col-lg-3 sub-basargino">Басаргино</div>
      <div class="col-lg-12 main-description">Пробуждает и включает все скрытые внутренние резервы организма.</div>
      <div class="col-lg-12 main-price">2 500 р.</div>
      <div class="col-lg-12 main-buy">
        <div class="counter">
        <div class="minus"><img src="/images/minus.svg"></div>
        <input class="count" value="1">
        <div class="plus"><img src="/images/plus.svg"></div>
        </div>

        <button type="submit" class="btn btn-default buy" data-toggle="modal" data-target="#myModal">Купить</button>
      </div>
      <div class="col-lg-12 main-warning">* Не является лекарственным средством</div>
      <div class="col-lg-12 main-warning-2">** Существуют противопоказания проконсультируйтесь у врача</div>
    </div>
    <div class="col-lg-12 col-md-12 main-tabs  container">
      <ul class="nav nav-tabs" role="navigation">
        <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
        <li><a href="#photo" data-toggle="tab">Фото</a></li>
        <li><a href="#video" data-toggle="tab">Видео</a></li>
        <li><a href="#review" data-toggle="tab">Отзывы</a></li>
        <li><a href="#certificate" data-toggle="tab">Сертификаты</a></li>
      </ul>

    </div>
  </div>
</div>
</div>

  <div class="tab-content">
    <div class="tab-pane active fade in" id="description">
      <div class="container content deer">
      <h1>Состав:</h1>
      <p>Пантогематоген, изготовлен из крови Алтайского благородного оленя (марала). Является эффективным адаптогенным и биостимулирующим препаратом нового поколения широкого спектра действия.
      </p>
      <h1>Спектр действия:</h1>

      <div class="row bp vscroll">
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/longevity.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text">Пантогематоген <b>замедляет старение</b> организма, активизирует иммунную систему и энергетический обмен;</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/nerves.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Стимулирует нервную систему</b> при гипотонии, астенических состояниях, неврозах, слабости сердечной мышцы;</div></div>
      </div>

      <div class="row bp vscroll">
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/atom.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Усиливает кроветворение</b> при анемии;</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/sex.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Увеличивает половую потенцию</b> у мужчин и женщин;</div></div>
      </div>

      <div class="row bp vscroll">
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/energy.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Выводит организм из состояния «хронической усталости»</b> и повышает жизненный тонус;</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/power.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Усиливает возможности организма</b> при тяжелой работе и высоких физических нагрузках;</div></div>
      </div>

      <div class="row bp vscroll">
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/heart.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Улучшает общее состояние</b> больных атеросклерозом, ишемической болезнью сердца.</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/brain.svg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Улучшает питание клеток</b> головного мозга;</div></div>
      </div>
      <div>
        <div class="col-lg-12 text-center">
          <button class="btn btn-default order-now" data-toggle="modal" data-target="#myModal">Оформить заказ</button>
        </div>
      </div>
    </div>
      <div class="container content  vscroll">
        <h1 class="text-center rh">Рекомендации по применению:</h1>
        <div class="row bp text-center recommend">
          <div class="icon-utp"><div class="middle fimg"><img src="/images/spoon.svg"></div><div class="icon-text">по 2<br>ст. ложки</div></div>
          <div class="arrow-utp"><div class="middle"><img src="/images/arrow.svg"></div></div>
          <div class="icon-utp"><div class="middle"><img src="/images/calendar.svg"></div><div  class="icon-text">1-3 раза<br> в день</div></div>
          <div class="arrow-utp"><div class="middle"><img src="/images/arrow.svg"></div></div>
          <div class="icon-utp"><div class="middle"><img src="/images/stopwatch.svg"></div><div  class="icon-text"> 15-30 мин.<br> До еды.</div></div>
        </div>
      </div>
      <div class="container content vscroll">
        <h2>Противопоказания: </h2>
        <p>гипертоническая болезнь III стадии, выраженная сердечная недостаточность, склонность к тромбозам, тяжелые поражения почек, беременность, кормление грудью, детям до 12 лет.
        </p>
      </div>
    </div>
    <div class="tab-pane fade" id="photo">
      <div class="container content">
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/front.jpg">
          <img src="images/photo/pantogematogen/front.jpg" height="320">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/zoom.jpg">
          <img src="images/photo/pantogematogen/zoom.jpg" height="320">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/botle.jpg">
          <img src="images/photo/pantogematogen/botle.jpg" height="320">
        </a>
      </div>
    </div>
    <div class="tab-pane fade" id="video"><div class="container content video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DN7tp6It7jY" frameborder="0" allowfullscreen></iframe>
    </div></div>
    <div class="tab-pane fade" id="review">
      <div class="container content">
        <div class="row">
          <div class="col-lg-3">
            <div class="ava" style="background-image: url('images/ava/01.jpg');"></div>
          </div>
          <div class="col-lg-9">
              <h4><b>Александр (Москва) / Дизайнер</b></h4>
            <p>
              Заказал. Сразу же перезвонили. Уточнили мои данные и как удобно доставить и оплатить. Выбрал картой и Деловые линии. Доставили за 3 дня. Результатом очень доволен.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="ava" style="background-image: url('images/ava/02.jpg');"></div>
          </div>
          <div class="col-lg-9">
            <h4><b>Александр (Москва) / Программист</b></h4>
            <p>
              Хоть по вкусу на любителя, но этой осенью пока не разу не болел. Принимаю уже 2 месяца. Помогло отказать от кофе по утрам и очень укрепило иммунитет. Все вокруг болеют, а у меня все отлично
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="certificate">
      <div class="container content">
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/certificate/01.jpg">
          <img src="images/photo/pantogematogen/certificate/01.jpg" height="320">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/certificate/02.jpg">
          <img src="images/photo/pantogematogen/certificate/02.jpg" height="320">
        </a>
      </div></div>
  </div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h4 class="panel-title">
          Описание <img src="/images/plus.svg">
      </h4>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h1>Состав:</h1>
        <p>Пантогематоген, изготовлен из крови Алтайского благородного оленя (марала). Является эффективным адаптогенным и биостимулирующим препаратом нового поколения широкого спектра действия.
        </p>
        <h1>Спектр действия:</h1>

        <div class="row bp vscroll">
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/longevity.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text">Пантогематоген <b>замедляет старение</b> организма, активизирует иммунную систему и энергетический обмен;</div></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/nerves.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Стимулирует нервную систему</b> при гипотонии, астенических состояниях, неврозах, слабости сердечной мышцы;</div></div>
        </div>

        <div class="row bp vscroll">
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/atom.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Усиливает кроветворение</b> при анемии;</div></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/sex.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Увеличивает половую потенцию</b> у мужчин и женщин;</div></div>
        </div>

        <div class="row bp vscroll">
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/energy.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Выводит организм из состояния «хронической усталости»</b> и повышает жизненный тонус;</div></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/power.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Усиливает возможности организма</b> при тяжелой работе и высоких физических нагрузках;</div></div>
        </div>

        <div class="row bp vscroll">
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/heart.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Улучшает общее состояние</b> больных атеросклерозом, ишемической болезнью сердца.</div></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><img src="/images/brain.svg"></div>
          <div class="col-lg-4 col-md-4 col-sm-4"><div class="utp-text"><b>Улучшает питание клеток</b> головного мозга;</div></div>
        </div>
        <div>
          <div class="col-lg-12 text-center">
            <button class="btn btn-default order-now" data-toggle="modal" data-target="#myModal">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

      <h4 class="panel-title">
          Фото <img src="/images/plus.svg">
      </h4>
      </a>

    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/front.jpg">
          <img src="images/photo/pantogematogen/front.jpg" width="100%">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/zoom.jpg">
          <img src="images/photo/pantogematogen/zoom.jpg" width="100%">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/botle.jpg">
          <img src="images/photo/pantogematogen/botle.jpg" width="100%">
        </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title">
          Видео <img src="/images/plus.svg">
      </h4>
      </a>

    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/DN7tp6It7jY" frameborder="0" allowfullscreen></iframe>   </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading4">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">

      <h4 class="panel-title">
          Сертификаты <img src="/images/plus.svg">
      </h4>
        </a>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/certificate/01.jpg">
          <img src="images/photo/pantogematogen/certificate/01.jpg" height="320">
        </a>
        <a class="fancybox" rel="gallery1" href="images/photo/pantogematogen/certificate/02.jpg">
          <img src="images/photo/pantogematogen/certificate/02.jpg" height="320">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container adv">
  <div class="col-lg-6 col-md-6 col-sm-6 banner-text">
    <div class="col-lg-12">
      <div class="sport">РАЗРЕШЕН СПОРТСМЕНАМ</div>
    </div>
    <div class="col-lg-12 main-title"><h1>Пантогематоген</h1></div>
    <div class="col-lg-3 sub-basargino">Басаргино</div>
    <div class="col-lg-12 main-description">Пробуждает и включает все скрытые внутренние резервы организма.</div>
    <div class="col-lg-12 main-price">2 500 р.</div>
    <div class="col-lg-12 main-warning">* Не является лекарственным средством</div>
    <div class="col-lg-12 main-warning-2">** Существуют противопоказания проконсультируйтесь у врача</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 feedback-form">
    <div class="col-lg-12 main-title"><h2>Хочу купить сейчас!</h2></div>
    <div class="col-lg-12"><input type="text" placeholder="Ваше имя"></div>
    <div class="col-lg-12"><input type="text" placeholder="Телефон"></div>
    <div class="col-lg-12"><button>Заказать</button></div>
    <div class="col-lg-12">
      Наш менеджер свяжется с Вами в течении 15-20 минут.
      Поможет оформить заказ и проконсультирует о товаре.
    </div>

  </div>
</div>



