<div class="container content simple-page payment">
<h1>Оплата</h1>
<p>При оформлении покупки Вы сможете выбрать один из вариантов оплаты:</p>
  <ul class="list-content">
    <li>картами Visa, MasterCard, Maestro, Мир;</li>
    <li>Банковским переводом;</li>
    <li>Наложенным платежом;</li>
    <li>Наличными курьеру;</li>
  </ul>
  <div class="payment-logo">
    <a href="http://www.visa.com.ru/ru/ru-ru/index.shtml" target="_blank"><img src="/images/payment/visa.svg"></a>
    <a href="https://www.mastercard.ru/ru-ru.html" target="_blank"><img src="/images/payment/mastercard.svg"></a>
    <a href="https://www.mastercard.ru/ru-ru.html" target="_blank"><img src="/images/payment/maestro.svg"></a>
    <a href="http://mironline.ru/" target="_blank"><img src="/images/payment/mir.png" width="108"></a>
  </div>
</div>

