// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delivery-logo {
  margin-bottom: 50px;
  img {
    padding-right: 20px;
    padding-top: 20px;
  }
}
.delivery, .payment, .about, #review {
  p {
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #4A4A4A;
    letter-spacing: 0px;
    line-height: 27px;
  }
}
.payment {
  .list-content {
    margin-left: 20px;
  }
}
.payment-logo {
  margin-top: 50px;
  img {
    padding-left: 30px;
  }
}
.about {
  table {
    width: 100%;
    td:first-of-type {
      font-size: 17px;
    }
    tr:nth-child(odd) {
      background: #EEE;
    }
    td {
      padding: 15px;
    }
  }
}
.video {
  text-align: center;
}
#photo, #certificate {
  text-align: center;
  img {
    margin: 10px;
  }
}

.ava {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background: #EEEEEE;
  background-size: cover;
}
#review {
 .content {
   padding-top: 80px;
   p {
     margin-bottom: 50px;
   }
 }

}