<div class="container footer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4 class="text-center">Подписывайтесь</h4>
      <div class="social">
        <a href="https://www.facebook.com/groups/pantashopru/" target="_blank"><img src="/images/facebook.svg"></a>
        <!--<a href="#" target="_blank"><img src="/images/twitter.svg"></a>-->
        <a href="https://vk.com/pantashop" target="_blank"><img src="/images/vk.svg"></a>
        <a href="https://ok.ru/group/52981179416709" target="_blank"><img src="/images/ok.svg"></a>
        <!--<a href="#" target="_blank"><img src="/images/instagram.svg"></a>-->
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>Способы оплаты</h4>
      <div class="change-pay">
        <a href="#" target="_blank"><img src="/images/Visa-dark.svg"></a>
        <a href="#" target="_blank"><img src="/images/MasterCard-dark.svg"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 partners">
      По вопросам сотрудничества:<br>
      <a href="mailto:sale@pantashop.ru">sale@pantashop.ru</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center copyright">
      ООО «Панташоп» 639015, Алтайский край, г. Бийск, ул. Трофимова, д.35, стр.2. ОГРН:1067746017987
      <br>
      <span class="copy-white">© 2016 Pantashop</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
  </div>
</div>
<%= render "layouts/modal_phone_order" %>
</body>
</html>